<%= form_with(model: type_tarif, local: true) do |form| %>
  <% if type_tarif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_tarif.errors.count, "error") %> prohibited this type_tarif from being saved:</h2>

      <ul>
        <% type_tarif.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
