<%= form_for @option do |form| %>
  

  <div class="field">
    <%= form.label :conducteur %>
    <%= form.text_field :conducteur %>
  </div>

  <div class="field">
    <%= form.label :siegebebe %>
    <%= form.text_field :siegebebe %>
  </div>

  <div class="field">
    <%= form.label :rehausseur %>
    <%= form.text_field :rehausseur %>
  </div>

  <div class="field">
    <%= form.label :gps %>
    <%= form.text_field :gps %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
