<p id="notice"><%= notice %></p>

<p>
  <strong>Conducteur:</strong>
  <%= @option.conducteur %>
</p>

<p>
  <strong>Siegebebe:</strong>
  <%= @option.siegebebe %>
</p>

<p>
  <strong>Rehausseur:</strong>
  <%= @option.rehausseur %>
</p>

<p>
  <strong>Gps:</strong>
  <%= @option.gps %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
