<%= form_with(model: tarif_supplementaire, local: true) do |form| %>
  <% if tarif_supplementaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarif_supplementaire.errors.count, "error") %> prohibited this tarif_supplementaire from being saved:</h2>

      <ul>
        <% tarif_supplementaire.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :libelle %>
    <%= form.text_field :libelle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
