<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @modepaie.status %>
</p>

<p>
  <strong>Combinaison:</strong>
  <%= @modepaie.combinaison %>
</p>

<p>
  <strong>Prixbs:</strong>
  <%= @modepaie.prixbs %>
</p>

<p>
  <strong>Prixms:</strong>
  <%= @modepaie.prixms %>
</p>

<p>
  <strong>Prixhs:</strong>
  <%= @modepaie.prixhs %>
</p>

<p>
  <strong>Datedebut:</strong>
  <%= @modepaie.datedebut %>
</p>

<p>
  <strong>Datefin:</strong>
  <%= @modepaie.datefin %>
</p>

<p>
  <strong>Tarifjour:</strong>
  <%= @modepaie.tarifjour %>
</p>

<p>
  <strong>Rubrique:</strong>
  <%= @modepaie.rubrique %>
</p>

<%= link_to 'Edit', edit_modepaie_path(@modepaie) %> |
<%= link_to 'Back', modepaies_path %>
