<div id="footer">
<div class="largeur">
<div class="grid_3 logobas">
<span></span><p id="copy">© GP Location</p>
</div>
<div class="grid_3">
<h5>Location de véhicules</h5>
<ul>
    <li><a href=" <%= voitures_path %> ">Nos voitures</a></li>
    <li><a href=" <%= conditions_path %>">Conditions générales de location</a></li>
    <li><a href=" ">Espace client</a></li>
</ul>
</div>
<div class="grid_3 vcard">
<img src="template/gp-location/img/gp-location.png" class="photo none" alt="GP Location"/>
<h5 class="fn org">GP Location</h5>
<div class="adr">
<p class="street-adress">34 rue de la Plantation</p>
<p class="tel">06 92 370 380</p>
<p><span class="postal-code">97438</span> <span class="locality">Sainte Marie</span></p>
</div>
<ul>
<li><a href="<%= contact_path%>">Contact</a></li>
</ul>
</div>
<div class="grid_3">
<h5>Prise en charge</h5>
<ul>
<li><a href=" ">Aéroport de la Réunion Roland-Garros</a></li>
<li><a href="<%= port_path%>">Sainte-Marie</a></li>
<li><a href="<%= mentions_path%>">Mentions légales</a></li>
</ul>
</div>
</div>      
<div class="clear"></div>
</div><!--
-->
</body>
<!-- Page parsée et évaluée en 0.0352 secondes -->

<!-- Mirrored from www.gplocation.fr/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Aug 2020 05:52:57 GMT -->
</html>