<!DOCTYPE html>
<html lang="fr">

<!-- Mirrored from www.gplocation.fr/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 27 Aug 2020 05:52:33 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Location de voiture à la Réunion | GP Location</title>
    <meta http-equiv="X-UA-Compatible" value="IE=EmulateIE9">
    <meta name="description" content="Louez en ligne votre voiture de location à l'aéroport de Saint-Denis de la Réunion Roland Garros ou à Sainte-Marie au meilleur prix avec GP location !"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="canonical" href=" "/>
    <link rel="alternate" href=" " hreflang="fr"/>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js%2cjquery-ui-custom/js/jquery-ui-1.8.18.custom.min.js%2cjquery-ui-custom/js/datepicker-fr.js%2ccycle.js%2cjquery.scrollTo-min.j/jquery.fancybox-1.3.4.pack.js%2cjquery-u"></script>
    
</head>
<body>
     <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= render "layouts/header" %>
      
    <%= yield %>
      <%= render "layouts/footer"%>
  </body>
</html>
